<!DOCTYPE html>
<html>
{{ include ('head.html.twig') }}
{% block body %}
    <body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">{{ include('sidebar.html.twig') }}</div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="bg-light">
            <div id="page-content">
                <h1>{{ page_name }}</h1>

                {#Base content block#}
                {% block content %}

                    {% if form is defined %}
                        {% form_theme form 'bootstrap_4_layout.html.twig' %}
                        {{ form(form) }}
                    {% endif %}
                    {% if description is defined %}
                        {% for key, value in description %}
                            <h3>{{ key }}</h3>
                            <span>{{ value }}</span>
                        {% endfor %}
                    {% endif %}
                {% endblock %}

                {#Response message block#}
                {% if response is defined %}
                    {% for alert_level, message in response %}
                        <div id="alert_message" class="{{ alert_level }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
    </body>
{% endblock %}
</html>