<!DOCTYPE html>
<html>
{{ include ('head.html.twig') }}
{% block body %}
    <body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">{{ include('sidebar.html.twig') }}</div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="bg-light">
                <div id="transparent_mask">
                    <div id="snowfall">
                        <div id="page-content">
                            {% if title is defined %}
                            <div class="block">
                                <h1>{{ title }}</h1>
                            </div>
                            {% endif %}
                            {% if description is defined %}
                                <div class="block">
                                    <button type="button" id="btn-tooltip" class="btn btn-secondary btn-sm" title="{{ description }}">hint</button>
                                </div>
                            {% endif %}

                            {#Base content block#}
                            <div class="block">
                                {% block content %}
                                    {{ include('custom/time_to_new_year.html.twig') }}
                                {% endblock %}
                            </div>
                            {#Response message block#}
                            {% if response is defined %}
                                {% for alert_level, message in response %}
                                    <div class="block">
                                        <div id="alert_message" class="{{ alert_level }}">{{ message }}</div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
</html>