<!DOCTYPE html>
<html>
{{ include ('head.html.twig') }}
{% block body %}
    <body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">{{ include('sidebar.html.twig') }}</div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="bg-light">
            <div id="transparent_mask">
                <div id="page-content">
                    <div class="block">
                        <h1>{{ title }}</h1>
                    </div>

                    {#Base content block#}
                    {% block content %}
                        {% if description is defined %}
                            {% for key, value in description %}
                                <h3>{{ key }}</h3>
                                <span>{{ value }}</span>
                            {% endfor %}
                        {% endif %}
                    {% endblock %}

                    {#Response message block#}
                    {% if response is defined %}
                        {% for alert_level, message in response %}
                            <div class="block">
                                <div id="alert_message" class="{{ alert_level }}">{{ message }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
</html>